html, body {
	margin: 0;
	padding: 0;
}

.hidden { display: hidden; }

.none { display: none; }

#mapId {
  /* height: 60vh; */
  height: 100vh;
  width: 100vw;
}

#map_controls {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 0;
	width: 100vw;

	display: flex;
	flex-direction: row;
}

#buttons {
	display: flex;
	flex-direction: row;
	height: min-content;
	padding-left: 50px;
}

#views_container>form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3);
}

#tracklist>input {
    position: sticky;
}

#views_container {
	right: 20px;

  height: 60vh;
  overflow-y: auto;
  list-style: none;

  position: absolute;
  top: 10px;
  margin: 4px;
  padding: 4px;
  height: 90vh;
  width: 20vw;
}

.descriptionBox a, .descriptionBox a:hover {
  color: unset;
  text-decoration: none;
}

.track_infos {
    line-height: 5px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    flex-flow: row-reverse;
}

.track_infos > div {
    padding: 5px;
}

button.closeTrackView {
    position: sticky;
    top: 0; left: 100%;
}

.descBoxTrackEdit {
  cursor: pointer;
}


.descBoxTrackToggle {
  all: unset;
  font-size: 32;
  cursor: pointer;
}

/* region Slider */
.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
/* endregion */

.rm_modal {
	position: absolute;
	top: 30vh;
	left: 40vw;
	background-color: grey;
	padding: 10px;
	z-index: 1500;
}
